# Dependencies
**/node_modules

# Build results
**/bin
**/obj
**/build
**/.cache

# Visual Studio
.vs/
*.suo
*.user

# Rider
.idea/
*.iml

# Mac
.DS_Store

# Log files
*.log

# Environment variables
/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# User-specific files
**/appsettings.Development.json

